.banner {
  @include center;

  font-family: "Syne", sans-serif;
  font-weight: 700;
  color: $cGrey;
  font-size: ms(1);
  white-space: nowrap;
  margin-bottom: units(2, m);
  overflow: hidden;

  @include tablet {
    font-size: ms(1, $thread: d);
    margin-bottom: units(3, m);
    grid-column: 1 / 7;
  }

  @include desktop {
    font-size: ms(2, $thread: d);
    margin-bottom: units(3, d);
  }

  &--orange {
    color: $cOrange;
  }

  &__el {
    &:first-child {
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }

  &__item {
    line-height: units(2.5, m);
    display: flex;

    $items: 13;

    @for $i from 1 through $items {
      &:nth-child(#{$i}) {
        .banner__el:first-child {
          animation-duration: 4s * (random($items) * 0.2);
        }
      }
    }

    @include tablet {
      line-height: units(4, m);
    }

    @include desktop {
      line-height: units(4, d);
      &:hover {
        .banner__el {
          animation-play-state: paused;
        }
      }
    }

    &--reverse {
      .banner__el:first-child {
        animation-direction: reverse;
      }
    }
  }
}

.rounded-text .banner {
  margin-bottom: 0;
  position: absolute;
  overflow: visible;

  @include tablet {
    grid-column: 1/7;
    overflow: hidden;
  }
}

.section:last-child .banner {
  margin-bottom: 0;
}
