.date {
  width: 100%;
  margin-top: units(7, m);
  font-family: Syne, sans-serif;

  @include tablet {
    @include grid;

    grid-column: 1 / 7;
  }

  @include desktop {
    margin-top: units(11, d);
  }

  &__item {
    display: flex;
    justify-content: space-between;

    @include desktop {
      justify-content: space-around;
    }

    &:not(:last-child) {
      margin-bottom: units(4, m);

      @include tablet {
        margin-bottom: units(6, m);
      }

      @include desktop {
        margin-bottom: units(4, d);
      }
    }

    &--left {
      @include tablet {
        grid-column: 1 / 6;
      }
    }

    &--right {
      @include tablet {
        grid-column: 2 / 7;
      }
    }
  }

  &__event {
    font-weight: 900;
    font-size: ms(2);
    margin: 0;

    @include tablet {
      font-size: ms(2, $thread: d);
    }

    @include desktop {
      font-size: ms(3, $thread: d);
      display: inline-flex;
      align-items: center;
    }
  }

  &__info {
    text-align: right;
    line-height: units(2, m);

    @include desktop {
      line-height: units(2, d);
    }

    &:first-child {
      margin-bottom: units(1, m);

      @include desktop {
        margin-bottom: units(1, d);
      }
    }
  }

  &__when {
    font-size: ms(1);
    color: $cOrange;

    @include tablet {
      font-size: ms(1, $thread: d);
    }
  }

  &__where {
    font-style: normal;
    font-family: "Inconsolata", monospace;
  }
}
