.footer {
  display: flex;
  justify-content: center;
  position: relative;
  overflow-y: hidden;
  padding: units(3, m) 0 units(13, m) 0;

  @include desktop {
    padding: units(2, d) 0 units(13, d) 0;
  }
}
