.header {
  width: 100%;
  height: 100vh;
  padding: units(2, m) 0;
  box-sizing: border-box;
  overflow-x: hidden;

  @include tablet {
    padding: units(8, m) 0;
  }

  @include desktop {
    padding: units(2, d) 0;
  }

  &__wrapper {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &__arrow {
    @include center;

    position: absolute;
    top: -5%;
    background-image: url("/../assets/images/arrow.svg");
    opacity: 0.5;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 80vh;
    height: 100%;
    z-index: -1;
  }
}
