.header {
  width: 100%;
  height: 100vh;
  padding: units(2, m) 0;
  box-sizing: border-box;
  overflow-x: hidden;

  @include desktop {
    padding: units(2, d) 0;
  }

  &__wrapper {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &__arrow {
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("/../assets/images/arrow.svg");
    opacity: 0.5;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 120%;
    width: 100vw;
    height: 100vh;
    z-index: -1;

    @include desktop {
      background-size: 50%;
    }
  }
}
