.liquid {
  overflow: hidden;
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: -1;

  &__item {
    transform-origin: center;
    opacity: 0.6;
    mix-blend-mode: multiply;
    fill: $cOrange20;
    // filter: drop-shadow(0 0 250px #d13407);
  }
}

.liquid-position1 {
  display: none;
}

.liquid-position {
  display: none;
}
