.liquid {
  @include center;

  position: absolute;
  top: 15vmax;
  left: 0;
  z-index: -1;
  fill: none;
  height: 170vmax;

  @include desktopXL {
    height: 130vmax;
  }

  &--top {
    top: -30vmax;

    .liquid__item {
      transform: translateX(-10vmax);
    }
  }

  &--right {
    top: -40vmax;

    .liquid__item {
      @include desktop {
        transform: translateX(10vmax);
      }
    }
  }

  &__item {
    fill: $cOrange20;
    opacity: 0.6;
    mix-blend-mode: multiply;
    transform: translateX(10vmax);
  }
}

.filter {
  position: absolute;
  height: 0;
}
