.liquid {
  overflow: hidden;
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: -1;

  &__item {
    transform-origin: center;
    opacity: 0.6;
    mix-blend-mode: multiply;
    fill: $cOrange20;
  }
}

.liquid-position1 {
  display: none;
}

.liquid-position {
  display: none;
}
