.logo{
  width: 158px;
  height: 158px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &--header{
    @include small{
      position: absolute;
      top: units(2, d);
      left: 50%;
      transform: translateX(-50%);
    }

    @include large{
      transform: none;
      left: 32px;
    }
  }

  &__vume{
    padding: 0;
    margin: 0;
    width: 80px;
    height: 16px;
    background-image: url("/../assets/svg/logo_vume_purple.svg");
    background-repeat: no-repeat;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
  }

  &__svg{
    position: absolute;
    top: 0;
    left: 0;
    animation: 22S logo infinite linear;
  }

  &__text{
    fill: none;
  }

  &__span{
    font-family:'Inconsolata', monospace;
    font-weight: 700;
    font-size:5px;
  }
}
