.logo{
  width: 150px;
  height: 150px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &__vume{
    padding: 0;
    margin: 0;
    width: 80px;
    height: 16px;
    background-image: url("/../assets/svg/logo_vume_purple.svg");
    background-repeat: no-repeat;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
  }

  &__svg{
    position: absolute;
    top: 0;
    left: 0;
    animation: 22S logo infinite linear;
  }

  &__text{
    fill: none;
  }
}
