.logo {
  position: relative;
  height: units(13, m);
  width: units(13, m);
  display: inline-flex;
  justify-content: center;
  align-items: center;

  @include desktop {
    height: units(10, d);
    width: units(10, d);
  }

  &__symbole {
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
    background-image: url("/../assets/images/logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: units(1.5, m);
    width: units(12, m);
    position: relative;
    top: 2px;
    margin: 0;

    @include desktop {
      height: units(1, d);
      width: units(12, d);
    }
  }

  &__words {
    font-weight: bold;
    position: absolute;
    font-size: ms(-5);
    text-transform: uppercase;
    letter-spacing: 1px;
    animation: 10s turn infinite linear;

    @include tablet {
      font-size: ms(-5, $thread: d);
    }

    @include desktop {
      &:hover {
        animation-play-state: paused;
      }
    }
  }

  &__circle {
    fill: none;
  }
}
