.ou{
  margin: units(7, m) 0;

  @include small{
    grid-column: 2 / 6;
  }

  @include large{
    margin: units(7, d) 0;
    grid-column: 4 / 8;
  }

  &__el{
    margin-bottom: units(3, m);
    display: flex;
    justify-content: space-between;

    @include large{
      margin-bottom: units(3, d);
    }
  }

  &__date{
    font-family:"Syne", sans-serif;
    font-weight: 700;
    font-size: 24.66px;
    color: $cRed;
  }

  &__city{
    display: block;
  }
}
