body{
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Inconsolata', monospace;
    font-size: 18px; //CHANGE
  line-height: 1.37;
  font-weight: 400;
  background-image: url("/../assets/images/texture_bg.png");
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

p{
  margin: 0;
}
