.textRound{
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
  margin: units(5, m) 0;

  &__content{
    width: 100%;
    animation: 22S logo infinite linear;
    grid-row: 1;
    grid-column: 1;
  }

  &__round{
    fill: none;
  }

  &__text{
    font-family:'Syne', sans-serif;
    font-size: 4.5px;
    fill: $cRed20;
  }
}
