.rounded-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  margin: units(4, m) 0;

  @include tablet {
    @include grid;
    height: 40vmin;
    grid-column: 1 / 7;
    margin: units(4, m) 0 units(6, m);
  }

  @include desktop {
    margin: units(2, d) 0 units(5, d);
  }

  &__words {
    height: 100%;
    width: 100%;
    font-family: Syne, sans-serif;
    font-size: ms(-3);
    fill: $cOrange20;
    animation: 10s turn infinite linear;

    @include tablet {
      grid-column: 2 / 5;
      font-size: ms(-3, $thread: d);
    }

    @include desktop {
      grid-column: 2 / 4;
      height: auto;
    }
  }

  &__circle {
    fill: none;
  }
}
