.section{
  width: 100%;
  overflow: hidden;
  padding: units(6 ,m) 20px;
  box-sizing: border-box;

  &--right{
    text-align: right;
  }

  @include small{
    display: grid;
    grid-template-columns: repeat(6, calc(16.6666666667% - 16px));
    grid-gap: 0 16px;
    padding: units(6 ,d) 32px;
  }

  @include large{
    grid-template-columns: repeat(8, calc(12.5% - 16px));
  }
}
