.section {
  padding: units(7, m) units(2, m) units(10, m);
  box-sizing: border-box;
  position: relative;

  @include tablet {
    @include grid;

    width: 100%;
    padding: units(7, m) units(5, m) units(10, m);
    overflow-x: visible;
  }

  @include desktop {
    margin: 0 auto;
    padding: units(7, d) #{units(2, d) - 6px} units(11, d);
    width: calc((100% / 8) * 6);
  }

  @include desktopXL {
    width: calc((1440px / 8) * 6);
    position: relative;
    padding: units(7, d) 6px units(11, d) 6px;
  }
}
