.textAnim{
  font-family: 'Syne', sans-serif;
  font-weight: 700;
  color: $cGrey;
  font-size: 24.66px;

  @include small{
    font-size: 45.73px;
    grid-column: 1 / -1;
  }

  &--red{
    color: $cRed;
  }

  &--purple{
    color: $cPurple;
    grid-row: 1;
    grid-column: 1;
  }

  &__content{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__el{
    animation: textAnim 18s linear infinite;
    margin: 0;

    &--reverse{
      animation-direction: reverse;
    }

    &--slow{
        animation-duration: 10s;
    }

    &--fast{
        animation-duration: 6s;
    }
  }
}
