.title {
  font-family: Syne, sans-serif;
  font-weight: 900;
  font-size: ms(2);
  line-height: units(2.75, m);
  color: $cPurple;
  margin: 0 0 units(4, m) 0;

  @include desktop {
    display: inline-block;
    font-size: ms(3, $thread: d);
    line-height: units(5, d);
    margin: 0 0 units(9, d) 0;
    grid-column: 1 / 6;
  }

  &--header {
    margin: 0;
    color: $cOrange;
    font-size: 10.5vmin;
    line-height: 10.5vmin;

    @include desktop {
      font-size: 13vmin;
      line-height: 13vmin;
    }
  }

  &--center {
    display: block;
    text-align: center;

    @include desktop {
      grid-column: 2 / 6;
    }
  }

  &--right {
    text-align: right;
    margin-bottom: 0;

    @include desktop {
      grid-column: 3 / 7;
    }
  }
}
