.title-alt {
  font-family: Inconsolata, monospace;
  font-size: ms(0);
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $cPurple;
  max-width: 17rem;
  margin: 0;
  line-height: units(2, m);

  @include tablet {
    font-size: ms(0, $thread: d);
  }

  @include desktop {
    line-height: units(2, d);
    margin: 0 auto;
  }

  &--center {
    text-align: center;

    @include desktop {
      margin: 0 auto;
    }
  }

  &--right {
    text-align: right;
    margin: 0 0 units(4, m) auto;

    @include tablet {
      grid-column: 4 / 7;
    }

    @include desktop {
      margin-bottom: units(4, d);
    }
  }

  &--orange {
    color: $cOrange;
  }

  &--white {
    color: $cWhite;
  }
}

.title .title-alt,
.title + .title-alt {
  display: block;
  margin-top: units(1, m);

  @include tablet {
    margin-top: units(2, m);
  }

  @include desktop {
    margin-top: units(1, d);
  }
}
