.title {
  font-family: Syne, sans-serif;
  font-weight: 900;
  font-size: ms(2);
  line-height: units(2.75, m);
  color: $cPurple;
  margin: 0 0 units(4, m) 0;

  @include tablet {
    grid-column: 1 / 7;
    font-size: ms(2, $thread: d);
    line-height: units(4, m);
    margin: 0 0 units(6, m) 0;
  }

  @include desktop {
    font-size: ms(3, $thread: d);
    display: inline-block;
    line-height: units(4, d);
    margin: 0 0 units(9, d) 0;
  }

  &--header {
    margin: 0;
    color: $cOrange;
    font-size: 10.5vmin;
    line-height: 10.5vmin;

    @include desktop {
      font-size: 12vmin;
      line-height: 12vmin;
    }
  }

  &--center {
    display: block;
    text-align: center;
  }

  &--right {
    text-align: right;
    margin-bottom: 0;
  }
}
