.video {
  @include center;

  background-color: $cBlack;
  height: 60vmin;
  margin-top: units(5, m);
  margin-bottom: units(5, m);

  @include tablet {
    grid-column: 1 / 7;
    margin-top: units(4, m);
    margin-bottom: units(6, m);
  }

  @include desktop {
    height: 90vmin;
    margin-top: units(3, d);
    margin-bottom: units(6, d);
  }
}
