html {
  width: 100vw;
}

body {
  color: $cBlack;
  overflow-x: hidden;

  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: url("/../assets/images/texture_bg.gif");
    background-size: 200px;
    z-index: -2;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0 0 units(2, m) 0;
  max-width: 25rem;
  grid-column: 1 / span 3;

  @include desktop {
    margin: 0 0 units(3, d) 0;
  }

  &:not(+ p),
  &:last-child {
    margin: 0;
  }
}

main {
  overflow-x: hidden;
}

.text {
  &--right {
    text-align: right;
    margin-left: auto;
  }

  &--short {
    @include tablet {
      grid-column-end: span 3;
      max-width: 15rem;
    }

    @include desktop {
      grid-column-end: span 2;
    }
  }

  &--long {
    @include tablet {
      grid-column-end: span 4;
      max-width: 30rem;
    }
  }

  &--bigger {
    font-size: ms(1);
    line-height: units(2.5, m);

    @include tablet {
      line-height: units(2, d);
    }

    @include desktop {
      font-size: ms(1, $thread: d);
      line-height: units(2.5, d);
    }
  }

  &--indent-1 {
    @include tablet {
      grid-column-start: 2;
    }

    @include desktop {
      grid-column-end: 4;
    }
  }

  &--indent-2 {
    @include tablet {
      grid-column-start: 3;
    }

    @include desktop {
      grid-column-end: 7;
    }
  }

  &--indent-3 {
    @include tablet {
      grid-column-start: 3;
    }

    @include desktop {
      grid-column-start: 2;
    }
  }

  &--indent-4 {
    @include tablet {
      grid-column-start: 4;
    }
  }
}

.line-break {
  display: block;
}

::selection {
  background-color: $cOrange20;
}
