@keyframes turn {
  to {
    transform: rotate(360deg);
  }
}

@keyframes banner {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}

@keyframes blink {
  to {
    text-indent: 9999px;
  }
}
