@font-face {
 font-family: "Syne";
 font-weight: 900;
 src: url("/../assets/font/Syne-Extra.otf");
}

@font-face {
 font-family: "Syne";
 font-weight: 700;
 src: url("/../assets/font/Syne-Bold.otf");
}
