@use "sass:map";

/// Choose units based on the baseline grid
///
/// @param {number} $unit
///   The number of units needed.
/// @param {string} $device
///   Choose the baseline grid to multiply `$unit`.
/// @return {number} `$unit` multiply by `$device` value.

@function units($unit, $device) {
  $fontSize: map.get(map.get($typeSettings, fontSize), $device);
  $lineHeight: map.get(map.get($typeSettings, lineHeight), $device);
  $blGrid: $lineHeight * $fontSize / 2;

  @return $unit * $blGrid;
}

$gridBorder: 2px;
$columns: 6;

@function columns($number) {
  $gutter: units(1, d);
  $border: ($number + 1) * $gridBorder;
  $calc: calc((100% / #{$columns}) * #{$number} - #{$gutter});

  @return $calc;
}
