@use "sass:map";

// m: 18, 24.66, 33.78, 46,28, 63.41
//lineHeight Title : 1.02

$typeSettings: (
  fontSize: (
    m: 18px,
    d: 23px
  ),
  lineHeight: (
    m: 1.37,
    d: 1.41
  )
);

$modularscale: (
  base: 18px,
  ratio: $fourth
);

/// Choose units based on the baseline grid
///
/// @param {number} $unit
///   The number of units needed.
/// @param {string} $device
///   Choose the baseline grid to multiply `$unit`.
/// @return {number} `$unit` multiply by `$device` value.

@function units($unit, $device) {
  $fontSize: map.get(
    map.get($typeSettings, fontSize),
    $device
  );
  $lineHeight: map.get(
    map.get($typeSettings, lineHeight),
    $device
  );
  $blGrid: $lineHeight * $fontSize / 2;
  @return $unit * $blGrid;
}
