$cWhite: #fff;
$cBlack: #000;
$cRed: #DB3704;
$cPurple: #1D0444;
$cGrey: #2F2F2F;
$cPurle20: rgba(219, 55, 4, 0.2);
$cRed20: rgba(219, 55, 4, 0.2);


// responsive
$screen-small: 500px;
$screen-meduim: 1100px;
$screen-large: 1300px;
